---
---

@import "{{ site.theme }}";

html, page, window {
  background-color: #0d1117 !important;
  background-image: none !important;
}

.a, cite, cite a:link, cite a:visited, .cite, .cite:link {
  color: #1f6feb !important;
}

*:link, *:link * {
  color: #1f6feb !important;
}

*:visited, *:visited * {
  color: #1f6feb !important
}
